.carousel-inner > .item > img {
    width:100%;
    height:360px;
  }
image{
    max-height: 200px;
    width: 100%;
}


#videos {
    text-align:center;
}
#userInputs {
    display:none;
}
.videoLinks {
    margin:20px;
}
.goal {
    display:inline-block;
    padding:30px;
}
.goal:hover {
    background-color:lightgrey;
}
#goals {
    text-align:center;
}

