body{
    background-color: #d6e3fe;
}
.btn-info{
    background: #9d5c63;
    height: 50px;
}
/* body{ */
#form1{
    display: none;
    color: rgb(15, 97, 15);
    background-color: #fef5ef;
    border-radius: 10px;
}
/* testing for a loading icon */
body{
    background-color: #584b53;
}
footer{
    background-color: #e4bb97;
    text-align: center;
}
.navbar{
    background-color: #9d5c63;
    margin: 0 0 5px 0;
}
/* .navbar.scrolling-navbar{
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
} */
.tales {
    width: 100%;

  }
  .carousel-inner{
    width:100%;
    max-height: 700px !important;
  }

#videos {
    text-align:center;
    display:none;
}
/* #userInputs {
    display:none;
} */
.videoLinks {
    margin:20px;
}
.goal {
    display:inline-block;
    padding:30px;
}
.goal:hover {
    background-color:lightgrey;
}
#goals {
    text-align:center;
}
#macroChart {
    width:300px !important;
    display:none;
    text-align:center;
}
#BMIinfo {
    display:none;
}

/* .recipes {
width: 200px;
height: 200px;
    margin: 10px;
    text-align:center;
} */

.card {
    display: inline-block;
    margin:20px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:450px;
}

#recipes {
    display:none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#videos {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.result-titles {
    color: #fef5ef;
    font-family: 'Oswald', sans-serif;
    
}

